<nav ng-controller="navController">
    <div class="navbar">
        <a ui-sref="home"><img alt="Soft City Logo" id="logo" src="./img/softcitylogo.png"></a>
    </div>
    <ul ng-hide="$state.includes('intro', 'nada')">
        <!-- <li class="menu"><a ui-sref="intro" class="links" ui-sref-active="active">intro</a></li> -->
        <li class="menu">
            <a class="links" ui-sref-active="active" ui-sref="projects">Projects</a>
        </li>
        <li class="menu">
            <a class="links" ui-sref-active="active" ui-sref="about">About</a>
        </li>
        <li class="menu">
            <a class="links" ui-sref-active="active" ui-sref="contact">Contact</a>
        </li>
        <li class="menu">
            <a class="links" ui-sref-active="active" ui-sref="store">Store</a>
        </li>
    </ul>
</nav>
