* {
    box-sizing: border-box;
}
// VARIABLES //////////////////////////////////////////
$textColor: #56217c;
@mixin background-gradient {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 2px, transparent 2px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-position: left;
    background-position: 30px 3px;
    background-size: 40px 40px;
}
.big-text {
    font-size: 52px;
    line-height: 64px;
    word-spacing: 10px;
    // @media (max-width: 480px){
    //   font-size: 12px;
    // }
}
.medium-text {
    font-size: 30px;
    line-height: 42px;
}
h3,
li {
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $textColor;
}
// FONTS //////////////////////////////////////////////
@font-face {
    font-family: "AvenirLTStd-Black";
    src: url("../fonts/avenir/AvenirLTStd-Black.otf") format('opentype');
}
@font-face {
    font-family: "Fortescue-Bold";
    src: url("../fonts/fortescue/Fortescue-Bold.otf") format('opentype');
}
// GLOBAL STYLES /////////////////////////////////////
html {
    margin: 0;
    @include background-gradient;
}
body {
    // padding-top: 0 10%;
    @include background-gradient;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    resize: vertical;
    padding: 200px 0 0 100px;
    margin: 0 100px 50px 0;
    max-width: 1300px;
    width: 100%;
    @media(max-width: 1024px) {
        padding-left: 100px;
    }
    @media(max-width: 768px) {
        padding: 200px 100px 0;
        .big-text {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 50px;
        }
    }
    @media(max-width: 480px) {
        padding: 100px 25px 0;
        margin: 0;
    }
}
h1,
h2,
p {
    color: $textColor;
    font-family: 'Fortescue-Bold';
}
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: $textColor;
}
ng-md-icon:focus {
    outline: 0;
}
.green {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 1em;
    z-index: 300;
    background-color: #30f7ba;
    @media(max-width: 480px) {
        display: none;
        // visibility: hidden;
    }
}

div.green.slide-out{
  // width: 100%;
  -webkit-animation: .6s ease-out 0s 1 forwards slide-out;
     -moz-animation: .6s ease-out 0s 1 forwards slide-out;
       -o-animation: .6s ease-out 0s 1 forwards slide-out;
          animation: .6s ease-out 0s 1 forwards slide-out;
}
div.green.slide-in{
  // width: 100%;
  -webkit-animation: .6s ease-in 0s 1 slide-in;
     -moz-animation: .6s ease-in 0s 1 slide-in;
       -o-animation: .6s ease-in 0s 1 slide-in;
          animation: .6s ease-in 0s 1 slide-in;
}
.md-button.md-raised{
  background-color: $textColor !important;
  padding: 10px;
  font-family: AvenirLTStd-Black !important;
  letter-spacing: 0.2em;
  font-size: 14px !important;
}
button{
  box-shadow: none !important;
  padding: 5px 10px;

}

@keyframes slide-out {
  from {
    width: 1em;
  }
  to {
    width: 100%;
  }
}
@keyframes slide-in {
  from {
    width: 100%;
  }
  to {
    width: 1em;
  }
}
// MENU //////////////////////////////////////////////
.menu {
    font-family: 'AvenirLTStd-Black';
    color: $textColor;
}


nav:focus{
  outline: none;
}

.nav-container {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 50px 0 0 100px;
    max-width: 1300px;
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 200;
    background-color: transparent;
    justify-content: space-between;
    -webkit-transition: height 300ms ease-in-out;
    -moz-transition: height 300ms ease-in-out;
    -o-transition: height 300ms ease-in-out;
    transition: height 300ms ease-in-out;
    #logo {
        display: block;
    }
    ul {
        list-style: none;
        display: inline-flex;
        li {
            padding-left: 45px;
            text-transform: uppercase;
        }
    }
    @media(max-width: 1024px) {
        padding-left: 100px;
    }
    @media(max-width: 768px){
      padding: 50px;
      width: 100%;
    }

    @media (max-width: 480px) {
        background-color: $textColor;
        width: 100%;
        height: 60px;
        margin: 0;
        padding: 0;
        text-align: center;
        #logo {
            display: none;
        }
        ul {
            padding: 0;
            margin: 0 auto;
            a:active,
            a:hover,
            a:link,
            a:visited,
            a{
              color: white;
            }
            li {
                display: inline;
                padding: 20px 10px;
                margin: 0;
            }
        }
    }
}
.nav-container.fixie {
    // background-color: $textColor;
    // padding-right: 100px;
    // width: 100%;
    height: 50px;
    // margin: 0;
    padding: 0 0 0 256px;
    // -webkit-transition: height 300ms ease-in-out, background-color 300ms ease-in-out;
    // -moz-transition: height 300ms ease-in-out, background-color 300ms ease-in-out;
    // -o-transition: height 300ms ease-in-out, background-color 300ms ease-in-out;
    // transition: height 300ms ease-in-out, background-color 300ms ease-in-out;
    #logo {
        display: none;
    }
    ul {
        a {
            color: white;
        }
        li:last-child {
            // padding-right: 100px;
        }
    }
}
nav.fixie {
    background-color: $textColor;
    width: 100%;
    position: fixed;
    height: 50px;
    -webkit-transition: height 300ms ease-in-out, background-color 300ms ease-in-out;
    -moz-transition: height 300ms ease-in-out, background-color 300ms ease-in-out;
    -o-transition: height 300ms ease-in-out, background-color 300ms ease-in-out;
    transition: height 300ms ease-in-out, background-color 300ms ease-in-out;
  }

// CONTACT PAGE //////////////////////////////////////
.email {
    border-bottom: 3px solid $textColor;
    padding-bottom: 3px;
    text-transform: none;
}
.social-media-container a {
    font-family: Fortescue-Bold;
}
// ANIMATIONS ////////////////////////////////////////
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
[ui-view].ng-enter {
    animation: fadeIn 1s;
}
[ui-view].green.ng-enter{
  -webkit-animation: .6s ease-out 0s 1 forwards slide-out;
     -moz-animation: .6s ease-out 0s 1 forwards slide-out;
       -o-animation: .6s ease-out 0s 1 forwards slide-out;
          animation: .6s ease-out 0s 1 forwards slide-out;
}
[ui-view].ng-leave-active {
    animation: fadeOut 1s;
}
[ui-view].ng-leave-active {
    animation: fadeOut 1s;
}
[ui-view].ng-enter-active {
    animation: fadeIn 1s;
}
[ui-view].ng-enter > div.splash {
    animation: fadeIn 0s;
}
[ui-view].ng-enter-active > div.splash {
    animation: fadeIn 0s;
}
.active {
    border-bottom: 3px solid #30f7ba;
    padding-bottom: 3px;
}
// PROJECTS PAGE //////////////////////////////////////
.show-container {}
button {
    margin: 0;
}
.md-button {
    margin: 0;
}
.description {
    width: 50%;
    float: left;
    padding-right: 2em;
    max-height: 50%;
    @media(max-width: 786px) {
        width: 100%;
    }
    @media(max-width: 480px) {
        width: 100%;
    }
    p {
        @media(max-width: 480px) {
            line-height: 1.5em;
        }
    }
    p:first-of-type {
        line-height: 2em;
        letter-spacing: 1px;
        @media(max-width: 480px) {
            line-height: 1.5em;
        }
    }
    p:nth-child(3) {
        font-family: AvenirLTStd-Black;
    }
    .title{
      font-size: 52px;
      word-spacing: 10px;
      line-height: 64px;
    }
}
.image-container {
    width: 50%;
    float: right;
    margin: 0;
    overflow: auto;
    // min-width: 410px;
    @media(max-width: 1024) {
        min-width: 410px;
    }
    @media(max-width: 786px) {
        width: 100%;
        margin-top: 20px;
    }
    img {
        float: right;
        margin-right: 0;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    img:last-of-type {
        margin-bottom: 0;
    }
}
// @media only screen and (min-device-width : 375px)
// and (max-device-width : 667px)
// and (orientation : portrait) {
//   .show-container {
//     text-align: center;
//   }
//   #show-image {
//     width: auto;
//     height: auto;
//     // max-width: 100vw;
//   }
//   .description {
//     display: block;
//     width: 100%;
//     float: none;
//     padding: 0 5%;
//     text-align: justify;
//     h2 {
//       text-align: left;
//     }
//     p:first-of-type {
//       line-height: normal;
//       letter-spacing: normal;
//     }
//   }
//   .image-container {
//     display: block;
//     width: 100%;
//     float: none;
//   }
// }
// INDEX PAGE //////////////////////////////////////
.indexcontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // div.indexview:nth-child(odd) {
    //   margin-right: 2em;
    // }
}
.indexview {
    text-align: center;
    line-height: 0;
    margin-bottom: 100px;
    @media (max-width: 480px) {
        margin-bottom: 30px;
        line-height: normal;
    }
    p {}
    h3 {}
}
.title {
    font-family: Fortescue-Bold;
    font-size: 28px;
    text-transform: capitalize;
    letter-spacing: 0;
    line-height: 30px;
    max-width: 550px;
    margin: 0;
}
.author {
    font-family: AvenirLTStd-Black;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    margin: 0;
    // line-height: 50px;
}
.details {
    font-size: 28px;
    line-height: 39px;
    margin: 20px 0;
}
.index-img {
    width: 100%;
}
#image {
    max-width: 550px;
    max-height: 520px;
    @media (max-width: 480px) {
        width: 100%;
        height: auto;
    }
}
// SPLASH INTRO //////////////////////////////////////
.splash-container{
  width: 100%;
  max-width: 1200px;
  // position: relative;
  // height: 100vh;
  // margin-top: 130px;
}
.splash {
    width: 100%;
    height: 400px;
    // height: calc(100vh - 250px);
    z-index: 100;
    // background-color: black;
    position: relative;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}
.splash h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 52px;
    line-height: 64px;
    padding: 38px;
    letter-spacing: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.splash img.squiggle {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    z-index: -100;
}
// ABOUT PAGE ////////////////////////////////////////////////
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
$colors-list: #694089 #f62a2a #28bf2b #2a53f6 #ed2deb #ed862d #222222 #c0b48c #992aec #edd72d;
@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    .circle-#{$i} {
        @extend .circle;
        background-color: $current-color;
        margin-right: 20px;
    }
}
.about-main-container {
    // margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        text-align: left;
        margin: 0 0 100px;
    }
    @media (max-width: 480px){
      h1{
        font-size: 33px;
        line-height: 40px;
        margin-bottom: 50px;
      }
    }
}
.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .riso-container {
        // min-width: 660px;
        width: 57%;
        h3 {
            font-family: 'AvenirLTStd-Black';
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        p {
            margin: 0;
            @media(max-width: 480px) {
                line-height: 1.5em;
            }
        }
    }
    @media (max-width: 768px){
      .riso-container{
        width: 100%;
        margin-bottom: 50px;
      }
    }
    @media (max-width: 480px){
      .riso-container{
        width: 100%;
        p{
          font-size: 22px;
        }
      }
    }
}
.color-container {
    h3 {
        font-family: 'AvenirLTStd-Black';
        font-size: 0.8em;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .circle-container1 {
        display: flex;
    }
    .circle-container2 {
        display: flex;
        margin-top: 1em;
    }
}
// CONTACT PAGE //////////////////////////////////////////////
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1 {
        text-align: left;
        a {
            line-height: 1.5em;
        }
        span {
            display: block;
        }
    }
    @media(max-width: 1024px) {
        h1 {
            font-size: 40px;
            line-height: 50px;
            transition: all 500ms linear;
        }
    }
    @media(max-width: 480px) {
        h1 {
          font-size: 24px;
          line-height: 27px;
        }
    }
}
.social-media-container {
    margin-top: 200px;
    h2 {
        font-family: 'AvenirLTStd-Black';
        text-transform: uppercase;
        font-size: 28px;
        a {
            margin-right: 1em;
        }
    }
    @media (max-width: 480px){
      margin-top: 50px;
      h2{
        font-size: 24px;
        line-height: 27px;
      }
    }

}
