$textColor: #56217c;

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url(../avenir/AvenirLTStd-Black.otf) format('opentype');
}

@font-face {
  font-family: "Fortescue-Bold";
  src: url(../fortescue/Fortescue-Bold.otf) format('opentype');
}

.menu {
  font-family: 'AvenirLTStd-Black';
  color: $textColor;
}

* {
  box-sizing: border-box;
  // padding: 0;
  // margin: 0;
}

body {
  padding: 0 10%;
  border-left: 1em solid #30f7ba;
  height: 100vh;
  margin: 0;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 2px, transparent 2px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 40px 40px;
}

h1, h2, p {
  color: $textColor;
  font-family: 'Fortescue-Bold'
}

h2 {
  font-family: 'AvenirLTStd-Black';
}

p {
  line-height: 2em;
}

a {
    text-decoration: none;
}

.email {
  border-bottom: 3px solid $textColor;
  padding-bottom: 3px;
  text-transform: none;
}


nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-top: 4%;
  width: 100%;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: inline-flex;
}

li {
  margin-right: 3rem;
  text-transform: uppercase;
}

ul li:last-child {
  margin-right: 0;
}

a img {
  z-index: 2000;
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

h1 {
  line-height: 1.5em;
  text-align: left;
  font-size: 2.5em;
}

h2 {
  text-transform: uppercase;
  font-family: 'Fortescue-Bold'
}

.color-container {
  h2 {
    font-family: 'AvenirLTStd-Black';
    font-size: 1em;
  }
}

.riso-container {
  h2 {
    font-family: 'AvenirLTStd-Black';
    font-size: 1em;
  }
}

.social-media-container {
  margin-top: 200px;
}

.contact-container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-main-container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle-container1 {
  display: flex;
  // align-items: center;
}

.circle-container2 {
  display: flex;
  margin-top: 1em;
  // align-items: center;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.riso-container {
  width: 50%;
}

h1 span {
  display: block;
}

h2 a {
  margin-right: 1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


[ui-view].ng-enter {
  animation: fadeIn .5s;
}

[ui-view].ng-enter-active {
  animation: fadeIn .5s;
}

$colors-list: #694089 #f62a2a #28bf2b #2a53f6 #ed2deb #ed862d #222222 #c0b48c #992aec #edd72d;
@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);
  .circle-#{$i} {
    @extend .circle;
    background-color: $current-color;
    // display: inline;
    margin-right: 1.5em;
  }
}

.active {
  border-bottom: 3px solid #30f7ba;
  padding-bottom: 3px;
}

.author {
  font-family: 'AvenirLTStd-Black';
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

div.indexview p {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 1em;
}

div.indexview a {
  // margin: 0;
  // padding: 0;
  line-height: 1.5em;
  font-size: 1.2em;
}

div.indexview img {
  margin-bottom: 20px;
}

.indexcontainer {
  margin-top: 3em;
}

.indexview {
  margin-right: 5em;
  margin-bottom: 5em;
  display: inline-block;
}

.description {
  width: 40%;
  float: left;
  padding-right: 2em;
  position: sticky;
  text-align: justify;
}

.description h2 {
  margin: 0;
}

.image-container {
  width: 60%;
  float: right;
}

.image-container img {
  width: 100%;
  margin-bottom: 2em;
}

.splash {
  width: 100vw;
  height: 100vh;
  // background-color: white;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.splash h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.splash img.squiggle {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  margin: 0 auto;
}

// .splash img {
//   display: block;
//   margin: 0 auto;
//   margin-top: 5%;
// }
